<div class="container">
    <div class="row">



        <!-- red -->
        <div class="col-xs-6 col-red col-team">
            <div class="heading-team red">Red Team</div>
            <div class="well">
                <div class="time" id="time-red">3:31</div>
            </div>

            <div class="progress progress-right" id="progress-red">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                </div>
            </div>
        </div>


        <!-- green -->
        <div class="col-xs-6 col-green col-team">
            <div class="heading-team green">Green Team</div>
            <div class="well">
                <div class="time" id="time-green">5:51</div>
            </div>

            <div class="progress progress-left" id="progress-green">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                </div>
            </div>
        </div>


    </div>
    <!-- /row -->

    <div class="row">
        <div class="col-xs-12">

            <div class="alert alert-default" id="game-info">
                <ul>
                    <li>Game is <strong>ON</strong></li>
                    <li>Elapsed time 9:22</li>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></a>
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-pause"></span></a>
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></a>
            </div>
        </div>
    </div>

    <hr>

    <!-- mode selektor -->
    <div class="btn-group">
        <a aria-expanded="false" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Mode Select
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Domination</a></li>
            <li><a href="#">Intel</a></li>
            <li><a href="#">Bomb</a></li>
        </ul>
    </div>

</div>
<!-- /container -->